.ant-layout-sider {
  background: #1c1c1c !important;
}

.copy-btn {
  background-color: #4CAF50;
  border-color: #4CAF50;
  margin-bottom: 15px;
  font-weight: bold;
  margin-top: 50vh;
}

.leave-btn {
  background-color: #f44336;
  border-color: #f44336;
  font-weight: bold;
}